@font-face {
  font-family: "Butler";
  src: url('../fonts/butler_regular_stencil-webfont.woff2') format('woff2'),
       url('../fonts/butler_regular_stencil-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Butler";
  src: url('../fonts/butler_bold_stencil-webfont.woff2') format('woff2'),
       url('../fonts/butler_bold_stencil-webfont.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}